@using BlazorOnlineShopping.CollectionData
@inject ShoppingCart ShoppingCart
@inject ProductInventory ProductInventory
@inject NavigationManager NavigationManager
@inject ILocalStorageService localStorage
@rendermode InteractiveServer


<div style="flex: 1 0 50%; max-width: 20%; padding: 10px; border: 2px solid black; margin: 10px; border-radius: 10px;">
    <a href=@($"/productdetails/{product.ProductId}")>
        <h4>@product.Name</h4>
        <p>@product.Price kr</p>
        <p>
            <img src="@product.ImageUrl" style="flex: 1 0 50%; width:90%; height:auto;" />
        </p>
    </a>
    <button @onclick="() => AddToCart(product)">Lägg i varukorg</button>
</div>



@code {
    [Parameter]
    public Product? product { get; set; }

    public async Task AddToCart(Product product)
    {
        ShoppingCart.AddToCart(product);
        await localStorage.SetItemAsync("ShoppingCart", ShoppingCart.Cart);
    }
}

